*{
    margin: 0;
    padding: 0;
}
.body{
    width: 100%;
   height: 100vh;
   box-sizing: border-box;
}
.header{
    background-color: #C71585;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    color: 	#9ACD32;
    font-size: 20px;
}

.menu ul{
    font-weight: 400%;
    list-style: none;
    font-size: 20px;
    display: flex;
}

.menu li{
    font-family: 'Montserrat', 'sans-sherif';
    margin: 0 5px;
}
.menu a{
    color: 	#9ACD32;
    text-decoration: none;
}
.menu a:hover{
    color: aqua;
}

.container{
    margin: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__conteudo{
    display: flex;
    flex-direction: column;
}

.container h1{
    margin: 5px;
    font-family: 'Montserrat', 'sans-sherif';
    color: #9ACD32;
    font-size: 40px;
    text-align: center;
    
}

.paragrafo{
    margin: 5px;
    color: gray;
    font-family: 'Inter', sans-sherif;
    font-size: 30px;
    text-align: center;
}